/*==================== GERAL ====================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*raiz do documento*/
:root{
  --hue: 255;
  --brand-violet:hsl(var(--hue), 68%, 30%);

  --brand-violet-light:hsl(var(--hue), 53%, 50%);
  --brand-violet-light-02:hsl(257, 100%, 93%);
  --brand-violet-light-03:hsl(252, 100%, 97%);

  --gray-headline:hsl(210, 11%, 15%);
  --gray-paragraph:hsl(210, 9%, 31%);
  --gray-light:hsl(0, 0%, 98%);

  --brand-beige: hsl(39, 100%, 97%);

  --nav-height: 7.2rem;

  font-size: 62.5%; /* 1rem = 10px */
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body{
  font-family: 'DM Sans';
  font-size: 1.6rem;
  text-align: center;
  overflow: overlay;

  background-color: var(--gray-light);
}

.wrapper{
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

section {
  padding-block: 10rem;
}

section header h4 {
  font-size: 1.4rem;
  color: var(--brand-violet-light);
  line-height: 150%;
  text-transform: uppercase;

  margin-bottom: 1.6rem;
  letter-spacing: 0.08rem;

}

section header h2 {
  font-size: 3rem;
  line-height: 3.9rem;

  color: var(--gray-headline);
}

section header h1 {
  font-size: 3.0rem;
  color: var(--gray-headline);
  line-height: 130%;

  margin-bottom: 2.4rem;
}

section .content p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--gray-paragraph);
}


.button {
  background-color: var(--brand-violet-light);

  padding: 1.6rem 3.2rem;
  width: fit-content;
  margin-bottom: 6rem;
  border-radius: 4rem;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  /*Gap: espaço entre os itens */
  gap: 1.6rem;

  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
  text-transform: uppercase;
  color: white;
  text-decoration: none;

  transition: background 200ms;
}

.button:hover {
  background-color: var(--brand-violet);
}

/*==================== NAVIGATION ====================*/

.logo {
  text-decoration: none;
  color: var(--gray-headline);
  font-size: 2rem;
}

.logo span {
  color: var(--brand-violet-light);
  font-weight: 700;
}

nav {
  display: flex;
  height: var(--nav-height);

  position: fixed;
  top: 0;
  width: 100vw;

  z-index: 100;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.scroll {
  background-color: var(--brand-violet-light);
}

nav.scroll .logo {
  color: var(--brand-violet-light-03);
}

nav.scroll .logo span {
  color: white;
}

nav.scroll svg path {
  stroke: white;
}

nav button{
  background: none;
  border: none;
  cursor: pointer;
}

nav .menu,
nav .close-menu {
  position: fixed;
}

/*==================== MENU EXPANDED ====================*/

body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded > :not(nav){
  visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu{
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu{
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateY(100%);
}

body.menu-expanded .menu {
  top: 0;
  left: 0;
  background-color: var(--brand-violet);

  padding-top: var(--nav-height);

  width: 100vw;
  height: 100vh;

  transition: transform 300ms;
  transform: translateY(0);
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  margin-top: 6rem;

  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.1rem;
}

.menu ul li a{
  color: white;
  text-decoration: none;
}

.menu .button {
  background: white;
  border-radius: 4rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-decoration: none;

  color: var(--brand-violet);

  display: inline-block;
  padding: 1.6rem 3.2rem;

  margin-top: 4.8rem;
  margin-bottom: 8rem;
}

.menu .button:hover {
  background: var(--brand-violet-light);
  color: white;

  filter:brightness(1);

}

.menu .social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

body.menu-expanded .logo,
body.menu-expanded button{
  position: relative;
  z-index: 10;
}

body.menu-expanded .logo {
  color: var(--brand-violet-light-03);
}

body.menu-expanded .logo span {
  color: white;
}

body.menu-expanded button path {
  stroke: white;
}

/*==================== HEADER ====================*/

#home {
  padding-block: 0;
  padding-top: calc(4.1rem + var(--nav-height));
}

#home::before{
  content: "";
  width: 100%;
  height: calc(130% + var(--nav-height)) ;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: var(--brand-violet-light-02);
}

#home p{
  font-size: 1.8rem;
  color: var(--gray-paragraph);
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 3.2rem;
}

#home .button {
  margin-right: auto;
  margin-left: auto;
}

#home img {
  width: 40rem;
  display: block;
  margin-inline: auto;
  object-position: 3rem 0;
}

#home .detalhes {
  width: 100%;
  padding-block: 4rem;
  margin-inline: auto;

  background-color: var(--brand-beige);
  border: 0.1rem solid var(--brand-violet-light-03);
  border-radius: 0.6rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
}

#home .detalhe h3{
  font-size: 4.8rem;
  line-height: 130%;
  color: var(--gray-headline);
  margin-bottom: 0.4rem;
}

#home .detalhe p{
  margin: 0;
  font-weight: 400;
  line-height: 150%;
  color: var(--brand-violet-light);
}

/*==================== SERVICES ====================*/

#services header h2 {
  margin-bottom: 6rem;
}

#services .cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem
}

#services .card {
  padding: 2.4rem;

 text-align: left;

 background-color: white;
  border: 1px solid var(--brand-violet-light-03);
  border-radius: .6rem;
  }

#services .card h3 {
  font-size: 2.4rem;
  line-height: 3.1rem;

  margin-block: 1.6rem;

  color: var(--gray-headline);

}


/*==================== ABOUT ====================*/
#about {
  text-align: left;
  background-color: var(--brand-beige);
}

#about img {
  border: 0.1rem solid var(--brand-violet-light-03);
  border-radius: 0.6rem;
}

#about header h2 {
  margin-bottom: 2.4rem;
}

#about .content p {
  margin-top: 2.4rem;
  margin-bottom: 6rem;
}

/*==================== CONTACT ====================*/

#contact,
#contact header h2 {
  text-align: left;
}

#contact header {
  margin-bottom: 3.2rem;
}

#contact ul {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 3.2rem;
}

#contact ul li {
  display: flex;
  align-items: center;
  gap: .8rem;

}

/*==================== FOOTER ====================*/

footer {
  background-color: var(--brand-violet-light);
  padding-block: 6rem;
  text-align: left;
}

footer .logo {
  display: inline-block;

  font-size: 3rem;
  color: var(--brand-violet-light-03);
  margin-bottom: 2.4rem;
}

footer .logo span {
  color: white;
}

footer p {
  color: var(--brand-beige);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3rem;

  display: flex;
  margin-bottom: 3.2rem;
}

footer .social-links {
  display: flex;
  gap: 3.2rem;
}

/*==================== BackToMenuButton ====================*/

#backToTopButton {
  position: fixed;
  bottom: 1rem;
  right: 2.5rem;

  opacity: 0;
  visibility: hidden;

  transform: translateY(100%);
  transition: 200ms;

  border: 2px solid white;
  display: flex;
  border-radius: 10rem;
}

#backToTopButton circle {
  fill:  var(--brand-violet-light);
}


#backToTopButton.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/*==================== RESPONSIVO ====================*/
@media (min-width: 1024px){
  /*==================== Geral ====================*/

  body {
      overflow: auto;
  }

  .wrapper {
    width: min(112rem, 100%);
    display: grid;
  }

  .col-a {
    grid-area: A;
  }

  .col-b {
    grid-area: B;
  }
  section {
    padding-block: 16rem;
  }

  section header h2 {
    font-weight: 700;
    font-size: 4rem;
    line-height: 5.2rem;
    color: var(--gray-headline);
  }

  /* reset */
  /*pega todos os elementos dentro do wrapper que está dentro do navigation e vamos resetar*/
  nav#navigation .wrapper * {
    margin: 0;
    padding: 0;
    display: initial;
    flex-direction: initial;
    visibility: initial;
    opacity: initial;
    position: initial;
    transform: initial;
    color: initial;
    background-color: initial;
    font-size: initial;
    font-weight: initial;
  }

  /*==================== Navigation ====================*/

  nav#navigation .close-menu,
  nav#navigation .open-menu,
  nav#navigation .social-links {
    display: none;
  }

  nav#navigation .menu {
    display:  flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
  }


  nav#navigation .logo {
    text-decoration: none;
    color: var(--gray-headline);
    font-size: 2rem;
  }

  nav#navigation .logo span {
    color: var(--brand-violet-light);
    font-weight: 700;
    font-size: 2rem;
  }

  nav#navigation .menu ul:nth-child(1) {
    display: flex;
    gap: 3.2rem;
  }

  nav#navigation .menu ul:nth-child(1) li a {
    color: var(--brand-violet-light);
    opacity: 0.7;
    transition: opacity 400ms;
  }

  nav#navigation .menu a.button {
    color: var(--brand-violet-light);

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2.4rem;

    border: 1px solid var(--brand-violet-light);
    border-radius: 4rem;

    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-transform: uppercase;
  }

  nav#navigation.scroll .logo {
    color: var(--brand-violet-light-03);
  }

  nav#navigation.scroll .logo span {
    color: white;
  }

  nav#navigation.scroll .menu ul li a {
    color: white;
    opacity: 0.8;
  }

  nav#navigation.scroll .menu a.button {
    color: white;
    border-color: white;
  }


  nav#navigation .menu ul li a.active,
  nav#navigation .menu ul li a:hover {
    opacity: 1;
    font-weight: 700;
  }

  nav#navigation .menu ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--brand-violet-light);

    position: relative;
    bottom: -2rem;
    left: -0.5rem;

    display: block;

    transition: width 0.2s;
  }

  nav#navigation.scroll .menu ul li a::after {
    background-color: white;

  }

  nav#navigation .menu ul li a.active::after,
  nav#navigation .menu ul li a:hover::after {
    padding-inline: 0.8rem;
    width: 100%;
  }

  nav#navigation .menu a.button.active,
  nav#navigation .menu a.button:hover {
    background-color: var(--brand-violet-light);
    color: white;
    border: none;
    transition: background-color 400ms
  }

  nav#navigation.scroll .menu a.button.active,
  nav#navigation.scroll .menu a.button:hover {
    background-color: white;
    color: var(--brand-violet-light);
    border: none;
    transition: background-color 400ms ;
  }

  /*==================== Home ====================*/
  #home::before {
    height: calc(91% - var(--nav-height));
  }

  #home {
    padding-top: var(--nav-height);
  }

  #home .wrapper {
    grid-template-columns: 60.5rem 1fr;
    grid-template-areas:
    'A B'
    'C C';
  }

  #home .col-a {
    text-align: left;
    align-self: center;
  }

  #home .col-b {
    text-align: left;
  }

  #home h1{
    font-size: 5.2rem;
    line-height: 130%;
  }

  #home p{
    font-size: 1.8rem;
    line-height: 150%;
  }

  #home .detalhes {
    grid-area: C;
    flex-direction: row;
    padding: 6rem;
    gap: 0;
  }

  #home .detalhes .detalhe + .detalhe {
    border-left: 1px solid var(--brand-violet-light);
  }

  #home .detalhes .detalhe {
    flex: 1;
  }

  #home .button {
    margin: 0;
  }

  #home img {
    width: 42rem;
  }

  /*==================== Services ====================*/
  #services h2{
    width: 42rem;
    margin-inline: auto;
  }

  #services .content .card {
    width: 30%;
    flex-grow: 1;
  }

  #services .content .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
  }
  /*==================== About ====================*/

  #about .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'B A';
    gap: 6.7rem;
  }

  #about .col-a {
    align-self: center;
  }

  #about .col-b {
    align-self: center;
  }

  #about .content p {
    margin-bottom: 0;
  }


  /*==================== Contact ====================*/

  #contact .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'A B';
    gap: 14.1;
  }

  #contact .col-a {
    align-self: center;
  }

  #contact h2 {
    width: 40.4rem;
  }

  #contact iframe{
    display: flex;
    margin: 0;
  }

  /*==================== Footer ====================*/

  footer {
    padding-block: 8rem;
  }

  footer .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'A B';

  }

  footer .col-a{
    align-self: center;
  }

  footer .col-b{
    align-self: center;
    justify-self: flex-end;
  }

  footer p {
    margin-bottom: 0;
  }



}
