<html>

<head>
  <title >Cinefeed</title>
  <link rel="stylesheet" type="text/css" href="{{ asset('assets/app.css') }}">
</head>

<body class="flex flex-col font-roboto bg-orange-950 text-orange-400 h-screen justify-between">
  <div class="flex flex-col w-full h-full">
    <a href="{{route('home.show')}}"> Cinefeed</a>

    @!section('content')
  </div>
</body>

</html>
